.chains {
  height: 100vh;
  overflow: scroll;
}

.chain {
  width: 100%;
  border-bottom: 1px solid darken(#EEE, 20%);

  &:hover {
    background: darken(#EEE, 10%);
  }
}

.chain__content {
  padding: 10px;
}

.chain__input-wrapper {
}

.chain__graph-wrapper {
}

.chain__input {
  border: none;
  background: transparent;
  padding: 5px 0px;
  font-size: 12px;
  width: 50%;

  outline: none;
}

.chain__graph {
}

.chain__stats {
  float: right;
  font-size: 12px;
  padding: 4px;
  margin-right: 10px;
}

.chain__remove {
  float: right;
  font-size: 10px;
  margin-top: 2px;
  padding: 4px;
  color: lighten(#202020, 30%);
  cursor: pointer;

  transition: color 200ms;

  &:hover {
    color: #202020;
  }
}
